@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  font-family: 'Open Sans';
  line-height: 180%;
  margin: 0;
  background-image: url('/animal-images/alligator.webp');
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  line-height: 110%;
  margin-top: 0;
}

a {
  color: #2855b8;
}

li {
  margin-bottom: 10px;
}

#root {
  background-color: rgba(255, 255, 255, 0.95);
  margin: 40px auto;
  padding: 20px;
  font-size: 18px;
  max-width: 800px;
  border-radius: 20px;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}